@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* VARIABLES */

:root {
  --main-color: rgba(12, 183, 242, 1);
  --sec-color: #5f09a1;
  --dark-color: #100057;
  --dark-light-color: #130069;
  --light-color: #fff;
  --grey-color: #dfdfdf;
  --black-color: #000;
  --box-shadow-container: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --box-shadow-btn: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--dark-color);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 70px;
}

.navbar-group {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.navbar-btn {
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: none;
}

.navbar-img {
  padding: 5px;
  display: none;
}

.navbar-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-link a {
  width: 100%;
  margin: 0 2rem;
  text-decoration: none;
  color: var(--light-color);
  font-weight: 700;
  font-size: 1.5rem;
}

.curriculumText {
  text-decoration: none;
  color: var(--light-color);
  font-weight: 800;
  font-size: 1.5rem;
  background: var(--main-color);
  padding: 8px;
  border-radius: 5px;
  box-shadow: var(--box-shadow-btn);
}

.curriculumMobile {
  display: none;
  margin-top: 20px;
}

/* MAIN CONTENT */

.mainContent-sec {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  background-image: url("./assets/waves/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.mainContent-title {
  font-size: 6rem;
  font-weight: 800;
  color: var(--light-color);
}

.mainContent-exp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainContent-exp p {
  font-size: 2.5rem;
  font-weight: 100;
  color: var(--light-color);
  padding: 5px;
  padding-bottom: 8px;
}

.mainContent-exp span {
  margin-left: 5px;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--main-color);
}

/* KNOWLEDGE - GRID CONTAINER */

.knowledge-sec {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  padding-top: 80px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.knowledge-title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--light-color);
  margin-bottom: 20px;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.36);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(1, 400px);
  justify-content: center;
  height: 80%;
  gap: 15px;
}

.grid-card {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  box-shadow: var(--box-shadow-container);
}

.line-knowledge {
  border: none;
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--main-color);
  margin: 20px 0;
}

.grid-title {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.grid-title span {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  font-weight: 700;
  font-size: 1rem;
}

.img-knowledge {
  height: 200px;
}

/* ABOUT ME  */

.aboutme-sec {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutme-sec::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: -1px;
  background-color: var(--dark-color);
  background-image: url("./assets/waves/wave3.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutme-container {
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.aboutme-title {
  font-size: 4.5rem;
  font-weight: 800;
}

.aboutme-list {
  padding: 10px;
  width: 80%;
}

.aboutme-things {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 100;
  padding: 5px 0;
  text-align: center;
}

.line2 {
  border: none;
  display: block;
  width: 80%;
  height: 1px;
  background: var(--light-color);
  margin: 15px 0;
}

/* PROJECTS - GRID */

.projects-sec {
  width: 100vw;
  max-width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.projects-sec::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  z-index: -1;
  background: var(--dark-color);
  background-image: url("./assets/waves/wave2.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectsTitle {
  margin-bottom: 45px;
  font-size: 3rem;
  color: var(--light-color);
  border-bottom: 3px solid var(--main-color);
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 800ms ease;
  object-position: center;
}

.grid-container2 {
  width: 80%;
  max-width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(2, 300px);
  gap: 50px;
}

.grid-item {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--main-color);
  box-shadow: var(--box-shadow-container);
  z-index: 100;
  position: relative;
  overflow: hidden;
}

.repoYCode {
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 150;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repoYCode-link {
  font-weight: 100;
  margin: 0 20px;
  text-decoration: none;
  border-bottom: 3px solid var(--main-color);
}

.grid-item:hover > .repoYCode {
  display: flex;
}

.grid-item:hover > .project-img {
  transform: scale(1.2);
}

.project-tech {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  margin-top: 40px;
  word-spacing: 50px;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
}

/* FOOTER - CONTACT */

#contacto {
  max-width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#contacto::before {
  content: "";
  position: absolute;
  background: var(--dark-light-color);
  width: 100%;
  height: 100%;
  z-index: -1;
  top: -1px;
}

.group-contact {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.contacto-title {
  color: var(--light-color);
  border-bottom: 3px solid var(--main-color);
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.contact-link {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--light-color);
  font-weight: 400;
  font-size: 1.5rem;
  margin: 15px;
}

/* ANIMACIÓN HOVER - LINEA INFERIOR */

.animLine::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: var(--main-color);
  transition: all 0.3s;
}

.animLine:hover::after {
  width: 100%;
}

/* FIN ANIMACIÓN */
